.container
{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.paper
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 2%;
    padding: 20px;
    justify-content: center;
    border: 1px solid black;
}

.input
{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.button
{
    border: none;
    border-radius: 2px;
    padding: 5px;
    background-color: green;
}